body {
    background-color: #0d1b2a;
    font-family: Public Sans;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

p {
    margin-top: 200px;
}

h1 {
    font-weight: 350;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 108px;
    margin-top: 50px;
}

.grid-container {

    margin-top: 50px;
    padding-top: 50px;

    display: grid;
    grid-template-columns: repeat(3, auto);
    row-gap: 50px;
    justify-content: space-evenly;
}

/* .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-items: space-around;
    
    margin-top: 80px;
    padding-top: 50px;
} */

@media (max-width: 600px) {
    .grid-item {
        flex: 100%;
    }
}

.box {
    container: inherit;
    border: 1px groove #e0e1dd;
    border-radius: 10px;
    padding: 0.5rem;
}